[submodule "gsb_sabr_api"]
	path = gsb_sabr_api
	url = git@github.tamu.edu:dshj940428/gsb_sabr_api.git
	branch = master
[submodule "gsb_ppg_gmm_api"]
	path = gsb_ppg_gmm_api
	url = https://github.tamu.edu/dshj940428/gsb_ppg_gmm_api.git
[submodule "vc-tools"]
	path = vc-tools
	url = https://github.tamu.edu/guanlong-zhao/vc-tools.git
