[submodule "gsb_sabr_api"]
	path = gsb_sabr_api
	url = git@github.tamu.edu:dshj940428/gsb_sabr_api.git
	branch = master
[submodule "SABR"]
	path = SABR
	url = https://github.tamu.edu/dshj940428/SABR.git
[submodule "gsb_ppg_gmm_api"]
	path = gsb_ppg_gmm_api
	url = https://github.tamu.edu/dshj940428/gsb_ppg_gmm_api.git
