{% extends 'speech/base.html' %}
{% load staticfiles %}

{% block title %}Record Anchor Set{% endblock %}

{% block nav_title1 %}
    <a href="{% url 'index' %}">Home</a> &raquo;
{% endblock %}

{% block nav_title3 %}
    Record Anchor Set
{% endblock %}

{% block bottom_block %}
    <form id="anchorset_form" method="post" action="/speech/add_anchorset/"1
          enctype="multipart/form-data">

        {% csrf_token %}

        <!-- error message -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ anchorset_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" class="btn btn-default" name="submit" value="Add" />
    </form>
{% endblock %}
