{% extends 'speech/base.html' %}
{% load staticfiles %}


{% block title %}Finish recording & annotation{% endblock %}

{% block nav_title %}
    Recording Finished
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/record.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/pitch.js" %}"></script>
    <script src="{% static "js/recorder/recorder.js" %}"></script>
    <script src="{% static "js/recorder/main.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.min.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.regions.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.spectrogram.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.timeline.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.microphone.js" %}"></script>
    <script type="text/javascript">
        pitchFile = "{{ pitch_file }}";
    </script>
{% endblock %}

{% block bottom_block %}
    <!-- pitch recording -->
    <h1>One last step</h1>
    <p>You have finished the recording and annotation of all anchors in <b>{{ anchor_set_name }}</b> anchor set.</p>
    <p>Please read the following paragraph and record your voice.</p>
    <div class="well">
        <p>{{ pitch_doc }}</p>
    </div>
    <div id="SoundRecorder">
        <div id="viz">
            <div id="wavesurf">
            </div>
            <div id="timeline">
            </div>

        </div>
        <div id="controls">
            <button id="record" class="btn btn-default" disabled></button>
            <button id="playPause" class="btn btn-default" disabled></button>
            <button id="save" class="btn btn-default" disabled></button>
            <table id="annotation">
                <tr>
                    <th>Status:</th>
                    <td id="status">unsaved
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- buttons -->
    <div style="clear: both">
    <button id="build-sabr-btn" type="button" class="btn btn-success" style="float: right" onclick="alert('Your Golden Speaker is being built. Please go to Manage Anchor Set to check on the status. Once the building is done, you will be able to build your Golden Speaker');window.location.href='/speech/build_sabr_model'" disabled>Continue</button>
    </div>
{% endblock %}
