{% extends 'speech/base.html' %}
{% load staticfiles %}

{% csrf_token %}

{% block bottom_block %}
    {#    <form>#}
    {##}
    {#        {% csrf_token %}#}
    <form style="display: none">
        {% csrf_token %}
    </form>
    <!-- progress bar -->
    <div class="progress">
        <div id="record-progress-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    {% block toggle_block %}
    {% endblock %}


    <!-- pitch table -->
    <div id="pitchTable">
        <table class="table table-bordered">
            <tr>
                <td><button type="button" id="Sentence1" class="phoneme btn btn-xs btn-default">1</button></td>
                <td><button type="button" id="Sentence2" class="phoneme btn btn-xs btn-default">2</button></td>
                <td><button type="button" id="Sentence3" class="phoneme btn btn-xs btn-default">3</button></td>
                <td><button type="button" id="Sentence4" class="phoneme btn btn-xs btn-default">3</button></td>
                <td><button type="button" id="Sentence5" class="phoneme btn btn-xs btn-default">5</button></td>
                <td><button type="button" id="Sentence6" class="phoneme btn btn-xs btn-default">6</button></td>
                <td><button type="button" id="Sentence7" class="phoneme btn btn-xs btn-default">7</button></td>
                <td><button type="button" id="Sentence8" class="phoneme btn btn-xs btn-default">8</button></td>
                <td><button type="button" id="Sentence9" class="phoneme btn btn-xs btn-default">9</button></td>
                <td><button type="button" id="Sentence10" class="phoneme btn btn-xs btn-default">10</button></td>
            </tr>
            <tr>
                <td><button type="button" id="Sentence11" class="phoneme btn btn-xs btn-default">11</button></td>
                <td><button type="button" id="Sentence12" class="phoneme btn btn-xs btn-default">12</button></td>
                <td><button type="button" id="Sentence13" class="phoneme btn btn-xs btn-default">13</button></td>
                <td><button type="button" id="Sentence14" class="phoneme btn btn-xs btn-default">14</button></td>
                <td><button type="button" id="Sentence15" class="phoneme btn btn-xs btn-default">15</button></td>
                <td><button type="button" id="Sentence16" class="phoneme btn btn-xs btn-default">16</button></td>
                <td><button type="button" id="Sentence17" class="phoneme btn btn-xs btn-default">17</button></td>
                <td><button type="button" id="Sentence18" class="phoneme btn btn-xs btn-default">18</button></td>
                <td><button type="button" id="Sentence19" class="phoneme btn btn-xs btn-default">19</button></td>
                <td><button type="button" id="Sentence20" class="phoneme btn btn-xs btn-default">20</button></td>
            </tr>
            <tr>
                <td><button type="button" id="Sentence21" class="phoneme btn btn-xs btn-default">21</button></td>
                <td><button type="button" id="Sentence22" class="phoneme btn btn-xs btn-default">22</button></td>
                <td><button type="button" id="Sentence23" class="phoneme btn btn-xs btn-default">23</button></td>
                <td><button type="button" id="Sentence24" class="phoneme btn btn-xs btn-default">24</button></td>
                <td><button type="button" id="Sentence25" class="phoneme btn btn-xs btn-default">25</button></td>
                <td><button type="button" id="Sentence26" class="phoneme btn btn-xs btn-default">26</button></td>
                <td><button type="button" id="Sentence27" class="phoneme btn btn-xs btn-default">27</button></td>
                <td><button type="button" id="Sentence28" class="phoneme btn btn-xs btn-default">28</button></td>
                <td><button type="button" id="Sentence29" class="phoneme btn btn-xs btn-default">29</button></td>
                <td><button type="button" id="Sentence30" class="phoneme btn btn-xs btn-default">30</button></td>
            </tr>
            <tr>
                <td><button type="button" id="Sentence31" class="phoneme btn btn-xs btn-default">31</button></td>
                <td><button type="button" id="Sentence32" class="phoneme btn btn-xs btn-default">32</button></td>
                <td><button type="button" id="Sentence33" class="phoneme btn btn-xs btn-default">33</button></td>
                <td><button type="button" id="Sentence34" class="phoneme btn btn-xs btn-default">34</button></td>
                <td><button type="button" id="Sentence35" class="phoneme btn btn-xs btn-default">35</button></td>
                <td><button type="button" id="Sentence36" class="phoneme btn btn-xs btn-default">36</button></td>
                <td><button type="button" id="Sentence37" class="phoneme btn btn-xs btn-default">37</button></td>
                <td><button type="button" id="Sentence38" class="phoneme btn btn-xs btn-default">38</button></td>
                <td><button type="button" id="Sentence39" class="phoneme btn btn-xs btn-default">39</button></td>
                <td><button type="button" id="Sentence40" class="phoneme btn btn-xs btn-default">40</button></td>
            </tr>
{#            <tr>#}
{#                <td><button type="button" id="Sentence41" class="phoneme btn btn-xs btn-default">41</button></td>#}
{#                <td><button type="button" id="Sentence42" class="phoneme btn btn-xs btn-default">42</button></td>#}
{#                <td><button type="button" id="Sentence43" class="phoneme btn btn-xs btn-default">43</button></td>#}
{#                <td><button type="button" id="Sentence44" class="phoneme btn btn-xs btn-default">43</button></td>#}
{#                <td><button type="button" id="Sentence45" class="phoneme btn btn-xs btn-default">45</button></td>#}
{#                <td><button type="button" id="Sentence46" class="phoneme btn btn-xs btn-default">46</button></td>#}
{#                <td><button type="button" id="Sentence47" class="phoneme btn btn-xs btn-default">47</button></td>#}
{#                <td><button type="button" id="Sentence48" class="phoneme btn btn-xs btn-default">48</button></td>#}
{#                <td><button type="button" id="Sentence49" class="phoneme btn btn-xs btn-default">49</button></td>#}
{#                <td><button type="button" id="Sentence50" class="phoneme btn btn-xs btn-default">50</button></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td><button type="button" id="Sentence51" class="phoneme btn btn-xs btn-default">51</button></td>#}
{#                <td><button type="button" id="Sentence52" class="phoneme btn btn-xs btn-default">52</button></td>#}
{#                <td><button type="button" id="Sentence53" class="phoneme btn btn-xs btn-default">53</button></td>#}
{#                <td><button type="button" id="Sentence54" class="phoneme btn btn-xs btn-default">54</button></td>#}
{#                <td><button type="button" id="Sentence55" class="phoneme btn btn-xs btn-default">55</button></td>#}
{#                <td><button type="button" id="Sentence56" class="phoneme btn btn-xs btn-default">56</button></td>#}
{#                <td><button type="button" id="Sentence57" class="phoneme btn btn-xs btn-default">57</button></td>#}
{#                <td><button type="button" id="Sentence58" class="phoneme btn btn-xs btn-default">58</button></td>#}
{#                <td><button type="button" id="Sentence59" class="phoneme btn btn-xs btn-default">59</button></td>#}
{#                <td><button type="button" id="Sentence60" class="phoneme btn btn-xs btn-default">60</button></td>#}
{#            </tr>#}
        </table>
    </div>


    <!-- Recorder block -->
    {#    <div id="info-panel">#}
    {#        <h2 id="phoneme-info"></h2>#}
    {#        <h2 id="word-info"></h2>#}
    {#    </div>#}
    <div id="info-panel">
        <div id="splitter">
            <hr>
        </div>
        {#    <span id="phoneme-info" class="label label-success"></span>#}
        <table id="info-table" class="table-bordered table-striped">
            <tr>
                <th>You selected phoneme:<span id="phoneme-info" class="label label-info info-span"></span> .  Please say the keyword:<span id="word-info1" class="label label-info info-span"></span> <span id="word-info2" class="label label-info info-span"></span> <span id="word-info3" class="label label-info info-span"></span> <span id="word-info4" class="label label-info info-span"></span> <span id="word-info5" class="label label-info info-span"></span> .</th>
            </tr>
        </table>
    </div>
    <!-- Pitch recording panel -->

    {#    <div id="Passage" style="clear:both">#}
    {#        <h2>Please record the following sentence:</h2>#}
    {#        <div class="well">#}
    {#        <h2 id="PassageText"></h2>#}
    {#        </div>#}
    {#    </div>#}
    <div id="Passage" style="clear:both">
        <div id="splitter">
            <hr>
        </div>
        <div id="pitch-info">
            <table id="pitch-info-table" class="table-bordered table-striped">
                <tr>
                    {#                <th>Please record the following sentence:<span id="PassageText" class="label label-info info-span"></span></th>#}
                    <th id="PassageText"></th>
                </tr>
            </table>
        </div>

        <div id="pitch-video" style="display: none">
            <object data="https://www.youtube.com/v/W_B2UZ_ZoxU" width="560" height="315"></object>
        </div>
    </div>
    <div id="SoundRecorder">
        <!-- visualization parts : including waveform and timeline -->
        <div id="viz">
            <div id="wavesurf">
            </div>
            <div id="timeline">
            </div>

        </div>
        <!-- control buttons -->
        <div id="controls">
            {#            <button id="record" class="ctrlButton" disabled></button>#}
            {#            <button id="playPause" class="ctrlButton" disabled></button>#}
            {#            <button id="zoomin" class="ctrlButton" disabled></button>#}
            {#            <button id="zoomout" class="ctrlButton" disabled></button>#}
            {#            <button id="save" class="ctrlButton" disabled></button>#}
            {#            <i class="fa fa-wrench faa-wrench animated"></i>#}
            {#            <i class="fa fa-microphone animated" aria-hidden="true"></i>#}
            <button id="record" class="btn btn-default" disabled></button>
            <button id="playPause" class="btn btn-default" disabled></button>
            <button id="zoomin" class="btn btn-default" disabled></button>
            <button id="zoomout" class="btn btn-default" disabled></button>
            <button id="save" class="btn btn-default" disabled></button>

            <table id="annotation">
                <tr>
                    <th>Recording length:</th>
                    <td id="recordingLength">0.00/180.00</td>
                    <th>Start:</th>
                    <td id="startTime">0.00</td>
                    <th>End:</th>
                    <td id="endTime">0.00</td>
                </tr>
            </table>
        </div>
    </div>
    {% block button_block %}
    {% endblock %}
    {#    </form>#}
{% endblock %}

