{% extends 'mpd/base.html' %}
{% load staticfiles %}

{% block title %}
    Mispronunciation Detection
{% endblock %}

{% block nav_title1 %}
    <a href="{% url 'index_mpd' %}">Home</a> &raquo;
{% endblock %}

{% block nav_title3 %}
    Mispronunciation Detection
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/mpd.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/mpd.js" %}"></script>
    <script src="{% static "js/recorder/recorder.js" %}"></script>
    <script src="{% static "js/recorder/main_mpd.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.min.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.regions.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.spectrogram.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.timeline.js" %}"></script>
    <script src="{% static "js/wavesurfer/wavesurfer.microphone.js" %}"></script>
    <script type="text/javascript">
        sentences = {{ sentences|safe }};
    </script>
{% endblock %}

{% block bottom_block %}
    <div style="float: left;clear: both">
        <p style="font-size: 30px; line-height: 40px; font-family: Courier; padding-top: 20px;">Step 1: Read and record the sentence</p>
        <table id="pitch-info-table" class="table-bordered table-striped">
            <tr>
                {#                <th>Please record the following sentence:<span id="PassageText" class="label label-info info-span"></span></th>#}
                <th id="sentence-display"></th>
            </tr>
        </table>
    </div>
    <div id="SoundRecorder">
        <!-- visualization parts : including waveform and timeline -->
        <div id="viz">
            <div id="wavesurf">
            </div>
            <div id="timeline">
            </div>

        </div>
        <!-- control buttons -->
        <div id="controls">
            {#            <button id="record" class="ctrlButton" disabled></button>#}
            {#            <button id="playPause" class="ctrlButton" disabled></button>#}
            {#            <button id="zoomin" class="ctrlButton" disabled></button>#}
            {#            <button id="zoomout" class="ctrlButton" disabled></button>#}
            {#            <button id="save" class="ctrlButton" disabled></button>#}
            {#            <i class="fa fa-wrench faa-wrench animated"></i>#}
            {#            <i class="fa fa-microphone animated" aria-hidden="true"></i>#}
            <button id="record" class="btn btn-default"></button>
            <button id="playPause" class="btn btn-default" disabled></button>
            <button id="save" class="btn btn-default" disabled></button>

        </div>
    </div>

    <div id="mpd-display" style="float: left;clear: both;">
        <p style="font-size: 30px; line-height: 40px; font-family: Courier; padding-top: 20px;">Step 2: Checkout how good your pronunciation is. (Phonemes in red are mispronunciations)</p>
        <table id="mpd-table" class="table table-bordered">
            <tr id="mpd-word"></tr>
            <tr id="mpd-phoneme"></tr>
        </table>
    </div>

    <button id="next" type="button" class="btn btn-success" style="float: right; clear: both">Next</button>




{% endblock %}