#source-speaker {
    display: inline-block;
    width: 48%;
    float: left;
}

#target-speaker {
    display: none;
    width: 48%;
    float: right;
}

#speaker-choose {
    height: 350px;
}
.scroll-list {
    max-height: 255px;
    overflow-y: scroll;
}

.scroll-list-uttr {
    max-height: 300px;
    overflow-y: scroll;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}