.index-choice {
    height: 100px;
    margin-left: 20px;
}
.index-btn {
    display: inline-block;
    width: 300px;
}
.index-btn-info {
    display: inline-block;
    margin-right: 200px;
    width: 500px;
    float: right;
}

div.index-choice p {
    font-family: Arial;
    font-size: 20px;
}

div.index-choice a {
    font-family: Arial;
    font-size: 20px;
}