td {
    width: 20%;
}

tr {
    width: 20%;
}

.scroll-list-uttr {
    max-height: 500px;
    overflow-y: scroll;
}

#controls {
	height: 30%;
	width: 100%;
}

#record {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/record.png");
	background-repeat:no-repeat;
}


#playPause {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/play.png");
	background-repeat:no-repeat;

}

#playPause-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/play.png");
	background-repeat:no-repeat;

}

#download-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/download.png");
	background-repeat:no-repeat;

}

#download {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/download.png");
	background-repeat:no-repeat;

}


#zoomin-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomin.png");
	background-repeat:no-repeat;
}

#zoomout-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomout.png");
	background-repeat:no-repeat;
}


#zoomin-student {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomin.png");
	background-repeat:no-repeat;
}

#zoomout-student {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomout.png");
	background-repeat:no-repeat;
}

.recording {
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}