td {
    width: 20%;
}

tr {
    width: 20%;
}

.scroll-list-uttr {
    max-height: 500px;
    overflow-y: scroll;
}

#controls {
	height: 30%;
	width: 100%;
}

#record {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/record.png");
	background-repeat:no-repeat;
}


#playPause {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/play.png");
	background-repeat:no-repeat;

}

#playPause-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/play.png");
	background-repeat:no-repeat;

}

#download-teacher {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/download.png");
	background-repeat:no-repeat;

}