.progress .bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​

#consTable {
	margin-top: 10px;
	/*width:200px;
	height:100px;*/
	/*display: none;*/
	clear: both;
	float: left;
	display: none;
}

#vowelTable {
	margin-top: 10px;
	clear: both;
	float: left;
	display: none;
}


#consTable td{
	vertical-align:middle;
	text-align:center;
	width: 110px;
}

#consTable th{
	vertical-align:middle;
	text-align:center;
	width: 110px;
}

#vowelTable td{
	vertical-align:middle;
	text-align:center;
	width: 110px;
}

#vowelTable th{
	vertical-align:middle;
	text-align:center;
	width: 110px;
}



.phoneme {
	/*color:red;*/
	width:30px;
	height:30px;
}


#Animation {
	height: 300px;
	width: 25%;
	/*border: 2px solid black;*/
	/*border-radius: 5px;*/
	background-color: #bce8f1;
	float: left;
	text-align: center;
	/*Add your CSS here!*/
}

.Animation_video {
	vertical-align:middle;
}

#InfoText {
	height: 300px;
	width: 70%;
	/*border: 2px solid black;*/
	/*border-radius: 5px;*/
	background-color: #bce8f1;
	float: right;
	/*Add your CSS here!*/
}

#SoundRecorder {
	float: left;
	height: 240px;
	width: 90%;
	/*margin-right: 2%;*/
	clear: both;
	/*background-color: yellow;*/
}

#viz {
	height: 70%;
	width: 100%;
	margin-top: 10px;
	/*background-color: red;*/
	/*margin-bottom: -21px;*/
	/*position: relative;*/
	/*z-index: 1;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-around;*/
	/*align-items: center;*/
}


#wavesurf {
	width: 100%;
	height: 90%;
	/*background-color: yellow;*/
}
#timeline {
	width: 100%;
	height: 10%;
	/*margin-top: 10px;*/
	/*background-color: white;*/
	/*background-color: red;*/
}



#controls {
	/*display: flex;*/
	/*flex-direction: row;*/
	/*align-items: center;*/
	/*justify-content: space-around;*/
	/*margin-top: -10px;*/
	height: 30%;
	width: 100%;
	/*background-color: green;*/
}

#record {
	display: inline-block;
	height: 44px;
	width: 42px;
	margin-top: 10px;
	background: url("/static/images/record.png");
	background-repeat:no-repeat;
}

/*.recording {*/
	/*background: url("/static/images/record_sprite.png") -40px 0;*/
	/*background-repeat:no-repeat;*/
/*}*/



#playPause {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/play.png");
	background-repeat:no-repeat;

}

#zoomin {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomin.png");
	background-repeat:no-repeat;
}

#zoomout {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/zoomout.png");
	background-repeat:no-repeat;
}

#save {
	display: inline-block;
	height: 44px;
	width: 44px;
	margin-top: 10px;
	background-image: url("/static/images/save.png");
	background-repeat:no-repeat;
}


.recording {
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#annotation {
	display: inline-block;
	margin-left: 10px;
}
#SoundExample {
	/*background-color: blue;*/
	height: 400px;
	width: 50%;
	float: right;
}

#info-panel {
	display: block;
	clear: both;
}


/*#controls {*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*align-items: center;*/
	/*justify-content: space-around;*/
	/*height: 20%;*/
	/*width: 100%;*/
/*}*/

/*.en-markup-crop-options {*/
	/*top: 18px !important;*/
	/*left: 50% !important;*/
	/*margin-left: -100px !important;*/
	/*width: 200px !important;*/
	/*border: 2px rgba(255,255,255,.38) solid !important;*/
	/*border-radius: 4px !important;*/
/*}*/

/*.en-markup-crop-options div div:first-of-type {*/
	/*margin-left: 0px !important;*/
/*}*/






/*#record { height: 15vh; }*/
/*#record.recording {*/
	/*background: red;*/
	/*background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);*/
	/*background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);*/
	/*background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);*/

/*}*/
/*#save, #save img { height: 10vh; }*/
/*#save { opacity: 0.25;}*/
/*#save[download] { opacity: 1;}*/

/*@media (orientation: landscape) {*/
	/*body { flex-direction: row;}*/
	/*#controls { flex-direction: column; height: 100%; width: 10%;}*/
	/*#viz { height: 100%; width: 90%;}*/
/*}*/

/*#wavesurf {*/
	/*clear: both;*/
/*}*/

/*.button {*/
  /*background-color: #004A7F;*/
  /*-webkit-border-radius: 10px;*/
  /*border-radius: 10px;*/
  /*border: none;*/
  /*color: #FFFFFF;*/
  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*font-family: Arial;*/
  /*font-size: 20px;*/
  /*padding: 5px 10px;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
	/*background-image: url("/static/images/zoomin.png");*/
	/*background-repeat:no-repeat;*/
/*}*/
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.blink_me_red {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}