{% extends 'speech/base.html' %}
{% load staticfiles %}


{% block title %}Manage AnchorSets{% endblock %}

{% block nav_title %}
    Manage Anchor Set
{% endblock %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "css/manage_anchorset.css" %}"/>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/moment.js" %}"></script>
    <script src="{% static "js/manage_anchorset.js" %}"></script>
    <script type="text/javascript">
        buildingAnchorSet = {{ building_anchor_set|safe }};
        timeStamps = {{ timestamps|safe }};
    </script>
{% endblock %}

{% block bottom_block %}
    <!-- error message -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error!</strong> {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if anchorsets %}
        <!-- table to list all anchor sets -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Anchor set name</th>
                <th>Set up time</th>
{#                <th>Active</th>#}
                <th>Used</th>
                <th>Completed</th>
                <th>Built</th>
            </tr>
            </thead>
            <tbody>
            {% for anchorset in anchorsets %}
                <tr>
                    <td><a href="/speech/anchorset/{{ anchorset.slug }}">{{ anchorset.anchor_set_name }}</a></td>
                    <td class="time-stamp"></td>>
{#                    <td>{{ anchorset.timestamp }}</td>#}
{#                    <td>{{ anchorset.active }}</td>#}
                    <td>{{ anchorset.used }}</td>
                    <td>{{ anchorset.completed }}</td>
                    <td>{{ anchorset.built }}</td>
                    {% if anchorset.built == 'In processing' %}
                        <td>Processing...</td>
                        <td></td>
                    {% else %}
                        <td><button type="button" class="btn btn-xs btn-success" onclick="window.location.href='/speech/start_record_session/{{ anchorset.slug }}'">Edit</button></td>
                        <td><button type="button" class="btn btn-xs btn-danger" onclick="if (confirm('Are you sure to delete this anchor set?')) {window.location.href='/speech/delete_anchorset/{{ anchorset.slug }}';} else {}">Delete</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <strong>There are no anchor sets.</strong>
    {% endif %}
{% endblock %}
